<nav>
    <div class="nav-wrapper">
        <a href="/incidentes" class="brand-logo center">Jurassic Park</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/incidentes/nuevo-incidente">Nuevo Incidente</a></li>
        </ul> 
    </div>
</nav>