
<div class="row" id="lista_incidentes">
        <% for (let incidente of incidentes) { %>
            <div class="col l3 m4 s12">
                <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= incidente.tipo %><i class="material-icons right">more_vert</i></span>
                    <p><%= incidente.fecha %></p>
                    <p><%= incidente.lugar %></p>
                </div>
                
                </div>
            </div>
        <% } %>
    </div>

    