<input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
<div class="row" id="lista_mascotas">
        <% for (let mascota of mascotas) { %>
            <div class="col l3 m4 s12">
                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img height="250px" class="activator" src="<%= mascota.imagen %>">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= mascota.nombre %><i class="material-icons right">more_vert</i></span>
                    <p><%= mascota.created_at %></p>
                    <p><a href="<%= mascota.direccion %>">Da clic aqui para ver mi pagina</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= mascota.nombre %><i class="material-icons right">close</i></span>
                    <p><%= mascota.descripcion %></p>
                    <button class="red white-text" onclick="eliminar(<%= mascota.id %>)"><i class="small material-icons">delete</i></button>
                </div>
                </div>
            </div>
        <% } %>
    </div>

    <script>
        const eliminar = (id) => {
            //El token de protección CSRF
            const csrf = document.getElementById('_csrf').value;
    
            
            let data = {mascota_id: id};
            console.log(data);
            //función que manda la petición asíncrona
            fetch('/mascotas/eliminar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'csrf-token': csrf
                },
                body: JSON.stringify(data)
            }).then(result => {
                return result.json(); //Regresa otra promesa
            }).then(data => {
                //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
                console.log("Respuesta de la petición asíncrona");
                console.log(data);
                let html = '';
                for (let mascota of data.mascotas) { 
                    html += '<div class="col l3 m4 s12">' +
                                '<div class="card">' +
                                    '<div class="card-image waves-effect waves-block waves-light">' +
                                        '<img height="250px" class="activator" src="' + mascota.imagen + '">' +
                                    '</div>' +
                                    '<div class="card-content">' +
                                        '<span class="card-title activator grey-text text-darken-4">' + mascota.nombre + '<i class="material-icons right">more_vert</i></span>' +
                                        '<p>' + mascota.created_at + '</p>' +
                                        '<p><a href="'+mascota.direccion +'">Da clic aqui para ver mi pagina</a></p>' +
                                    '</div>' +
                                    '<div class="card-reveal">' +
                                        '<span class="card-title grey-text text-darken-4">'+ mascota.nombre + '<i class="material-icons right">close</i></span>' +
                                        '<p>' + mascota.descripcion + '</p>' +
                                        '<button class="red white-text" onclick="eliminar('+ mascota.id +')"><i class="small material-icons">delete</i></button>' +
                                    '</div>' +
                                '</div>' +
                            '</div>';
                }
                document.getElementById('lista_mascotas').innerHTML = html;
                M.toast({html: 'La mascota fue eliminada de la lista'})
            }).catch(err => {
                console.log(err);
            });
        };
    </script>