<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>  
<div class="container">
  <h1>Jurassic Park</h1>
  <%- include('includes/tarjeta_incidente.ejs') %>  
</div>
<%- include('includes/foot.ejs') %> 