<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
<div class="container">
    <h1>Mascota adoptada</h1>
    <form action="fueadoptado" method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre">
        <label for="razon">Razon</label>
        <input type="text" name="descripcion">
        <input type="submit" name="enviar" value="adoptar">
    </form>
</div>
<%- include('includes/foot.ejs') %> 