<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>  
<div class="container">
  <h1>Nuestros perros</h1>
  <%- include('includes/tarjeta_mascota.ejs') %>  
</div>
<div>
  <p>Ultima mascota ingresada en nuestro refugio canino: <%- ultima_adopcion %></p>
</div>
<%- include('includes/foot.ejs') %> 