<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
<div class="container">
    <h1><%= titulo %></h1>

    <% if(error !== false) { %>
        <span class="red"> <%- error %></span>
    <% } %>
    <form action="new" method="POST">
        <label for="username">Nombre de usuario</label>
        <input type="text" name="username" required>
        <label for="nombre">Nombre completo</label>
        <input type="text" name="nombre" required>
        <label for="password">Contraseña</label>
        <input type="password" name="password" required>
        <input type="submit" name="enviar" value="Registrar">
    </form>
</div>
<%- include('includes/foot.ejs') %> 