<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
<div class="container">
    <h1>Nuevo incidente</h1>
    <form action="nuevo-incidente" method="POST" enctype="multipart/form-data">
            
        <label for="tipo">Tipo de incidente</label>
            <select name="tipo">
                <option value="1">Falla eléctrica</option>
                <option value="2">Fuga de herbívoro</option>
                <option value="3">Fuga de Velociraptors</option>
                <option value="4">Fuga de TRex</option>
                <option value="5">Robo de ADN</option>
                <option value="6">Auto descompuesto</option>
                <option value="7">Visitantes en zona no autorizada</option>
            </select>

    <br><br>
    
        <label for="lugar">Lugar del incidente</label>
        <select name="lugar">
            <option value="1">Centro turístico</option>
            <option value="2" >Laboratorios</option>
            <option value="3">Restaurante</option>
            <option value="4">Centro operativo</option>
            <option value="5">Triceratops</option>
            <option value="6">Dilofosaurios</option>
            <option value="7">Velociraptors</option>
            <option value="8">TRex</option>
            <option value="9">Planicie de los herbívoros</option>
        </select>
            
            <br>
      
            <input type="submit" name="enviar" value="registrar" class="btn">
    </form>
</div>
<%- include('includes/foot.ejs') %> 