<label for="tipo">Tipo</label>
        <select name="tipo">
            <option value="tipo1">Falla eléctrica</option>
            <option value="tipo2">Fuga de herbívoro</option>
            <option value="tipo3">Fuga de Velociraptors</option>
            <option value="tipo4">Fuga de TRex</option>
            <option value="tipo5">Robo de ADN</option>
            <option value="tipo6">Auto descompuesto</option>
            <option value="tipo7">Visitantes en zona no autorizada</option>
        </select>
        <br><br>
        <label for="lugar">Lugar</label>
        <select name="lugar">
            <option value="lugar1">Centro turístico</option>
            <option value="lugar2" >Laboratorios</option>
            <option value="lugar3">Restaurante</option>
            <option value="lugar4">Centro operativo</option>
            <option value="lugar5">Triceratops</option>
            <option value="lugar6"> Dilofosaurios</option>
            <option value="lugar7">Velociraptors</option>
            <option value="lugar8">TRex</option>
            <option value="lugar9">Planicie de los herbívoros</option>
        </select>