body{background-color:#e0ffff}h1{font-family:Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;background-color:#0ff;text-align:center}h2{font-family:Arial,Helvetica,sans-serif;color:#dc143c}#pg{font-family:Verdana,Geneva,Tahoma,sans-serif;background-color:#0ff;text-align:center}
