<p><i>¿Por qué es una buena práctica usar JavaScript para checar que sean válidos los inputs de las formas antes de enviar los datos al servidor?</i></p>
<p>En caso de que el usuario si el usuario haya cometido algún error al rellenar el formulario, tenemos la posibilidad de notificarle en ese momento, sin necesidad de esperar la respuesta del servidor.</p>
<p><i>¿Cómo puedes saltarte la seguridad de validaciones hechas con JavaScript?</i></p>
<p>Ingresando a la consola y agregando en la misma linea del codigo "novalidate=''"</p>
<p><i>Si te puedes saltar la seguridad de las validaciones de JavaScript, entonces ¿por qué la primera pregunta dice que es una buena práctica?</i></p>
<p>Es una buena practica por que te permite darle a conocer a los usuarios cual es el formato correcto en el que deben enviar sus datos, aunque exista la posibilidad de evitar esta validacion, la mayoria de usuarios no tendria razon para hacerlo</p>


