#nombre{
    background-color: #B58FFB;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #705CB8;
}

#instruccion{
background-color: #B58FFB;
bottom: auto;
}

#cuadro{
    background-color: white;
    text-align: center;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    
}